$w: #ffff;
$b: #0000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Lora', Helvetica, sans-serif;
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
